@use '../../styles/mixins' as mixin
@use '../../styles/variables' as var 

.homepage
    @include mixin.mixin-homepage

.div_title
    @include mixin.mixin-div_title
    text-shadow: var.$t-shadow-multiple-RandB
    color: rgb(255, 255, 255)

.title
    @include mixin.mixin-title

.carosello
    @include mixin.mixin-carosello

.carousel
    @include mixin.mixin-carousel
    box-shadow: var.$b-shadow-multiple-GandB

.choose_img
    @include mixin.mixin-choose_img

.divImg
    @include mixin.mixin-divImg
    &:hover
        transform: scale(1.5)

.img
    @include mixin.mixin-img

.ul
    @include mixin.mixin-ul

.main
    @include mixin.mixin-main

.navbar_main
    @include mixin.mixin-navbar_main

.body_main
    @include mixin.mixin-body_main

.home_navbar
    @include mixin.mixin-body_main

.classNameNav
    @include mixin.mixin-classNameNav
    // border: 5px double black

.classNameDivBtn
    @include mixin.mixin-classNameDivBtn
    // border: mixin.$border-black

.classNameBtn
    @include mixin.mixin-classNameBtn
    
.classNameBodyMain
    @include mixin.mixin-classNameBodyMain

.classNameText
    @include mixin.mixin-classNameText
